<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{~/Css/assets/weightlifting.css}">
    <script th:src="@{~/Js/home.js}"></script>

    <title>Calisthenics</title>
</head>
<body>

<div class="contents" id="myform">

    <form th:method="post" th:action="@{/saveMembership}" th:object="${member}" class="login_form">
        <div>
            <h1 class="login_title">
                <span>Membership Registration</span>
            </h1>
            <p class="logindesp">
                Join Us!
            </p>
        </div>
        <div>
            <div class="logininputs">

                <div>
                    <label  class="loginlabel">Name</label>
                    <input th:field="*{name}"  type="text" id="fname" placeholder="Enter your Fullname" required class="login-inputs">
                </div>
                <div>
                    <label  class="loginlabel">Email</label>
                    <input th:field="*{email}"  type="email" id="email" placeholder="Enter your email" required class="login-inputs">
                </div>
                <div class="apply">
                    <label >Applying for :</label>
                    <select class="select" name="category" id="list" th:field="*{category}"  >
                        <!--                            <option th:each="category:${categoryList}"-->
                        <!--                                    th:text="${category.categories}"-->
                        <!--                                    th:field="*{category}" th:value="${categoryList.category}"/>-->
                        <option class="opt" value="Weightlifting" >
                            Weightlifting
                        </option>
                        <option class="opt" value="Boxing" >
                            Boxing
                        </option>
                        <option class="opt" value="Calisthenics" >
                            Calisthenics
                        </option>
                    </select>
                </div>
                <div class="period" >
                    <input  type="checkbox" class="checkboxes" th:field="*{duration}" th:value="${'1 month'}"  id="1" onclick="fn()" />
                    <label>1 month</label>
                    <input type="checkbox" class="checkboxes" th:field="*{duration}" th:value="${'6 months'}"  id="6" onclick="fn()" />
                    <label>6 month</label>
                    <input type="checkbox" class="checkboxes" th:field="*{duration}" th:value="${'12 months'}" id="12" onclick="fn()"/>
                    <label>12 month</label>
                </div>
            </div>

        </div>
        <div>
            <div class="login_buttons">
                <button class="login-button" type="submit" th:onclick="print()">Register</button>
                <button class="login-button" th:onclick="openForm()" type="reset">Cancel</button>
            </div>
        </div>
    </form>
</div>
    
    
    
        <div class="container" id="ass">
        <header>
        <nav>
            <h2 class="logo" > <a href=""> Power <span>Up</span></a></h2>
            <ul >
                <li>
                    <button class="items">
                        <a th:href="@{/dashboard}">Home</a>
                    </button>
                </li>
                 <li >
                    <button class="items">
                        <a href="">Contacts</a>
                    </button>
                </li>
                <li>
                    <button class="items">
                        <a href="">Package&Plans</a>
                    </button>
                </li>

            </ul>
            <div class="rbtn">
                <button onclick="registerbtn()" class="Register-btn">
                    <a th:href="@{/profile}">Profile</a>
                </button>
            </div>
            <i class="ri-menu-line"></i>
        </nav>
        </header>
       
    
        <div class="body-class" >
            <div class="head">
            <span>Calisthenics</span>
            </div>
            <div class="package-sec">
                <div class="area">
                <div class="img-sec-calisthenics">
                    <span class="ss"></span>
                </div>
                <div >
                    <p>Learn and master the art of weightlifting with professional trainers.<br>Give us a chance and find out what your body is capable of.</p>   
                </div>
                <div>
                    <table class="table ">
                        <thead class="thead">
                            <tr>
                                <th>Duration</th>
                                <th>Price</th>
                            </tr>
                            <tbody>
                            <tr>
                                <td>1 month</td>
                                <td>Rs. 1000</td>   
                            </tr>
                            <tr>
                                <td>6 month</td>
                                <td>Rs. 6000</td>   
                            </tr>
                            <tr>
                                <td>12 month</td>
                                <td>Rs. 12000</td>   
                            </tr>
                            
                        </tbody>
                    </table>
                    
                </div>
                </div>
                <div class="but" >
                    <button class="assign" id="ass" onclick="openForm()">Join Us</button>
                </div>
            </div>
    
        </div>
    </div>

</body>
</html>