<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<form th:method="post" th:action="@{/user/save}" th:object="${user}">
<div class="main-div">
    <input type="text" hidden th:field = "*{id}" th:value="${user.id}">
    <input type="text" placeholder="Enter your name" th:field="*{fullName}">
    <input type="email" placeholder="Enter your email" th:field="*{email}">
    <input type="text" placeholder="Enter your mobile No" th:field="*{mobile_no}">
    <input type="password" placeholder="Enter your password" th:field="*{password}">
    <button type="submit" class="submit">submit</button>
</div>
</form>


</body>
</html>