<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
    <link rel="stylesheet" href="../../static/Css/assets/f.css">
    <script src="../Html_daily/Js/home.js"></script>
</head>
<body>
    
    <div class="Container">
        <div class="contents">
            <form action="" class="login_form">
                <div>
                    <h1 class="login_title">
                        <span>Welcome</span> Back
                    </h1>
                    <p class="logindesp">
                        Welcome! Please Login
                    </p>
                </div>
                <div> 
                    <div class="logininputs">
                        <div>
                            <label class="loginlabel">Name</label>
                            <input type="email" placeholder="Enter your Fullname" required class="login-inputs">
                        </div>
                        <div>
                            <label class="loginlabel">Email</label>
                            <input type="email" placeholder="Enter your email" required class="login-inputs">
                        </div>
                        <div class="apply">
                            <label>Applying for :</label>
                            <select class="select" name="" id="d-1">
                                <option class="opt" value="1">
                                    Weightlifting
                                </option>
                                <option class="opt" value="2">
                                    Boxing
                                </option>
                                <option class="opt" value="3">
                                    Calisthenics
                                </option>
                            </select>
                        </div>
                        <div class="period">
                            <input type="checkbox" class="checkboxes" name="p" id="1" onclick="fn()" />
                            <label>1 month</label>
                            <input type="checkbox" class="checkboxes" name="p" id="6" onclick="fn()"/>
                            <label>6 month</label>
                            <input type="checkbox" class="checkboxes" name="p" id="12" onclick="fn()"/>
                            <label>12 month</label>
                        </div>
                    </div>
                   
                </div>
                <div>
                    <div class="login_buttons">
                        <button class="login-button">Register</button>
                    </div>
                </div>
            </form>
        </div>
       </div>
    
</body>

</html>                                                                                                                    