<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="Css/assets/style.css" rel="stylesheet"/>
</head>
<body>
   <div class="Container">
    <div class="contents">
        <form action="" class="login_form">
            <div>
                <h1 class="login_title">
                    <span>Welcome</span> Back
                </h1>
                <p class="logindesp">
                    Welcome! Please Login
                </p>
            </div>
            <div> 
                <div class="logininputs">
                    <div>
                        <label for="" class="loginlabel">Email</label>
                        <input type="email" placeholder="Enter your email" required class="login-inputs">
                    </div>
                    <div>
                        <label for="" class="loginlabel">Password</label>
                        
                        <div class="loginbox ">
                            <input type="password" placeholder="Enter your password" required class="login-inputs" id="input-pass">
                            <i class="ri-eye-off-line login-eye" id="input-icon"></i>
                        </div>    
                    </div>
                </div>
                <div class="login_check">
                    <input type="checkbox" class="login_check-input">
                    <label for="" class="login_check_label">Remember me</label>
                </div>
            </div>
            <div>
                <div class="login_buttons">
                    <button class="login-button">Login</button>
                    <button class="login-button signup">Signup</button>
                </div>
                <a href="#" class="login_forgot">Forgot Password?</a>
            </div>
        </form>
    </div>
   </div>
    
</body>
</html>